$brand-black:             #444444;
$brand-white:             #ffffff;

$brand-cyan:              #0094CC;
$brand-blue:              #085DA9;
$brand-purple:            #5224A0;
$brand-dark-purple:       #3F1962;

$brand-dark-gray:         #717171;
$brand-medium-gray:       #CCCCCC;
$brand-light-gray:        #EBEBEB;
$brand-lightest-gray:     #F8F8F8;
$brand-gray:              #EEEEEE;

$brand-message-green:     #33571e;
$brand-message-red:       #701111;
$brand-message-blue:      #042f56;

$brand-green:             #72BF44;
$brand-red:               #E03030;
$brand-orange:            #F78D28;
